
  <div class="container">

    <br>
    <img align="middle" src="http://www.wragbysolutions.com/images/demo/inner-banner-aboutus.png"  alt="Fleet track image" width="100%" height="350">
      
  </div>
  </div>
  <div class="row justify-content-center">
  <div class="text-center">




    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">

    	
      
<br><br>
<div class="container text-center ">

<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
<p align="justify">Real Time Fleet Tracking System consists of 2 parts. One is the mobile app developed for Android devices that will be kept inside the vehicles. This mobile will be tracked to provide the real time location of the fleet vehicle. The second part is a web application developed using Ruby Rails. In the web application the real time location of the fleet vehicle is displayed using a marker. We use Google Maps API to retrieve and plot the location on the map. Moreover Google Maps “Distance Matrix” API is used to get the distance and time remaining for the fleet vehicle to reach the destination(user’s location). Both the current location of the fleet vehicle and the user’s destination address is shown in Google Maps using 2 markers. Red marker for the fleet vehicles current location and green marker for the destination. 
</p>

<br>
<h2>Design Goals</h2><br>

<ul style="text-align: justify;">

<li ><b>Tracking multiple vehicles:</b> The system should support tracking the real time location of fleet vehicles at the same time.</li>
<br>
<li><b>Ease of use:</b> Ease of use is crucial for the acceptance of a new software, especially if this software is designed to be used for tracking fleet vehicles. The user should be able to use the software rather intuitively - as far as possible. Furthermore, it should provide an intuitive, well documented, and consistent interface. </li>
<br>
<li><b>Functionality:</b> Functionality is of obvious importance. We can only expect wide acceptance of our software, if it is able to save the potential user a major amount of time. Thus, the system shall be able to provide most of the standard functionality and leave only the implementation of specialized or new techniques to the user. </li>
<br>
<li><b>Accessibility:</b> The system shall give users necessary access to information they need to complete their task (i.e. information on other pages, etc.).</li>
<br>
<li><b>Openness:</b> Since we cannot provide all functionality and we also do not want to re-implement existing algorithms, it was also an important aim to provide a sufficient openness, meaning compatibility with other class libraries but also compatibility with the Standard Template Library. Furthermore, openness implies extendibility and modularity, i.e. it should be simple to add new functionality and data structures without changing the existing code. Hence the system shall be open enough to allow users to use the existing source code and modify it as per their preference.</li>
<br>
<li><b>Robustness:</b> The term robustness describes the code's ability to cope with unexpected or faulty data. The system shall be able to handle unexpected data.
<br>
<li><b>Maintainability:</b> The system shall be easy to maintain. Maintainability measures the ease and speed with which a system can be restored to operational status after a failure occurs.</li>
</ul>



</section>
</div>
</section>


 

 

<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <div class="widget widget_text">
          <b><h4 class="widget-title">Location</h4></b>
          <div class="textwidget">
            <p>
              Asian Institute of Technology
              <br>School of Engineeering and Technology
              <br>P.o. Box 4, Klong Luang,
              <br>Pathumthani 12120,Thailand
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>