
  <div class="container">
<br>
    <img align="middle" src="http://www.trackmatic.co.uk/images/banner7.jpg"  alt="Fleet track image" width="100%" height="350">
       
  </div>
  </div>
  <div class="row justify-content-center">
  <div class="text-center">
  </div>
</div>
<br>
<br>
<div class="container text-center ">
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
<p align="justify">Real Time Fleet Tracking System consists of 2 parts. One is the mobile app developed for Android devices that will be kept inside the vehicles. This mobile will be tracked to provide the real time location of the fleet vehicle. The second part is a web application developed using Ruby Rails. In the web application the real time location of the fleet vehicle is displayed using a marker. We use Google Maps API to retrieve and plot the location on the map. Moreover Google Maps “Distance Matrix” API is used to get the distance and time remaining for the fleet vehicle to reach the destination(user’s location). Both the current location of the fleet vehicle and the user’s destination address is shown in Google Maps using 2 markers. Red marker for the fleet vehicles current location and green marker for the destination. 
</p>
</section>

</div>